.main-wrapper {
    width: 100%;
    overflow: hidden;
}

.main-wrapper .topbar {
    position: relative;
    z-index: 50;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.05);
    height: 60px;
}

/* -------------- Navigation ------------------- */

/* Left Side Fixed Navbar */

.fixed-left-nav {
    position: absolute;
    top: 0;
    width: 200px;
    min-height: 100vh;
    background: #141619;
    overflow: hidden;
    padding-top: 64px;
    z-index: 10;
}


.fixed-left-nav.active {
    width: 60px;
}

.fixed-left-nav.active:hover {
    width: 200px;
}

.fixed-left-nav .dropdown-btn.nav-active {
    background: #183153;
}

.fixed-left-nav.active .dropdown-btn span.arrow {
    display: none;
}

.fixed-left-nav.active:hover .dropdown-btn span.arrow {
    display: block;
}



.fixed-left-nav ul {
    width: 100%;
    color: #fff;
    font-size: 14px;
}

.fixed-left-nav ul li {
    position: relative;
    list-style: none;
    border-bottom: 1px solid #9792925e;
}

.fixed-left-nav ul li a:hover {
    color: #27A9E3;
    border-left: 2px solid #27A9E3;
}

.fixed-left-nav ul li a {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: #fff;
}

.fixed-left-nav ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    text-align: center;
}

.fixed-left-nav span {
    line-height: 50px;

}




.arrow {
    position: absolute;
    right: 0;
    font-size: 18px;

}


.onclick-sidemenu span {
    line-height: 40px !important;
}

.fixed-left-nav ul li a .icon .fa {
    font-size: 24px;
}

.fixed-left-nav ul li a .title {
    position: relative;
    display: block;
    text-align: start;
    white-space: nowrap;
}

.fixed-left-nav.active .dropdown-btn span.arrow {
    display: none;
}


.toggle {
    position: absolute;
    top: 0;
    width: 60px;
    height: 60px;
    cursor: pointer;
    color: #FFF;
    line-height: 60px;
    text-align: center;
}

.toggle:active {
    transition: 0.2s;

}

/* Fixed Left Navbar Ends */

/* Top Navbar Starts */


.topbar .top-navbar {
    min-height: 64px;
    padding: 0px;
}

.navbar {
    position: relative;
}

nav .navbar-header {
    width: 200px;
    background: #183153;
    line-height: 64px;
}

.navbar-header.active {
    width: 60px;
}

.navbar-header span {
    min-height: 60px;
    min-width: 60px;
}

.navbar-header span img {
    position: relative;
    display: block;
    line-height: 60px;
    text-align: center;
}

.navbar-header a .title {
    position: relative;
    display: block;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}


#navbarSupportedContent {
    background: #141619 !important;
    height: 60px;
}

.list-style-none.profile {
    padding-right: 20px;
}

#showMenu a {
    padding-left: 58px;
    border-top: 1px solid #9792925e;
}

.profile-list-items {
    position: relative;
}

#showProfileMenu {
    height: 150px;
    width: 240px;
    position: absolute;
    right: -14px;
    top: 48px;
}

#showProfileMenu li {
    line-height: 3.6;
    font-size: 14px;
    width: 100%;
    padding-left: 18px;
}

#showProfileMenu li:hover {
    background: #183153;
    border-left: 3px solid #fff;
}

/* Top Navbar Ends */

/* This is Main Content Area */

.page-wrapper {
    margin-left: 200px;
    background: #F1F1F1 !important;
}

.page-wrapper.active {
    margin-left: 60px;
}


/* Students Record */



#main-content {
    padding: 25px;
    min-height: 400px;
}

#main-content h2 {
    margin: 0 0 10px;
    text-transform: capitalize;
}

#main-content table {
    width: 100%;
    background-color: #555;
    margin: 0 0 20px;
}

#main-content tbody {
    text-align: center;
}

#main-content table th {
    color: #fff;
    background-color: #333;
    text-transform: uppercase;
}

#main-content table th:last-child {
    width: 130px;
}

#main-content table td {
    background-color: #fff;

}

#main-content table td a {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 3px 7px;
    color: #fff;
    background-color: #e67e22;
    text-decoration: none;
    border-radius: 3px;
}

#main-content table td a:nth-child(2) {
    background-color: #e74c3c;
    margin: 0 0 0 5px;
}

#main-content .post-form {
    width: 50%;
    padding: 25px;
    margin: 0 auto;
    background-color: #f5f5f5;
    border-radius: 10px;
}

#main-content .post-form .form-group {
    margin: 0 0 15px;
}

#main-content .post-form .form-group label {
    width: 30%;
    display: inline-block;
    font-weight: 600;
}

#main-content .post-form .form-group input,
#main-content .post-form .form-group select {
    font-size: 16px;
    width: 66%;
    display: inline-block;
    padding: 5px;
    margin: 0;
}


#main-content .post-form .submit {
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 5px 10px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    margin: 0 0 0 30%;
    cursor: pointer;
    transition: all 0.3s;
}

#main-content .post-form .submit:hover {
    box-shadow: 0 0 5px #555;
}

#main-content .pagination {
    padding: 0;
    margin: 0;
    list-style: none;
}

#main-content .pagination li {
    display: inline-block;
}

#main-content .pagination li a {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #1abc9c;
    display: block;
    margin: 0 5px 0 0;
    transition: all 0.3s;
}

#main-content .pagination li a:hover {
    background-color: #333;
}

/* Main Content Area Ends */

/* Footer Starts */

.footer {
    line-height: 2.6;
    background-color: #EEEEEE;
    font-size: 12px;
    font-weight: 400;
    color: #615f5f;
}

/* Footer Ends */



/* All Users */

form {
    background: #E6E6E6;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

form table .action {
    visibility: hidden;
}

form table .user-items:hover .action {
    visibility: visible;
}

@media (max-width:768px) {
    nav .navbar-header {
        width: 60px;
    }

    .fixed-left-nav {
        display: none;
    }


    .fixed-left-nav.active .dropdown-btn span.arrow {
        display: block;
    }

    .fixed-left-nav.active {
        left: 0px;
        width: 200px;
        display: block;
    }

    #navbarSupportedContent .profile {
        position: absolute;
        right: 0;
    }

    .toggle {
        right: 60px;
    }

    .page-wrapper {
        margin: 0;
    }

    .page-wrapper.active {
        margin: 0;
    }

    footer {
        padding: 2px 6px;
        line-height: 1;
    }


}